<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 4 -->
<mapper namespace="com.kh.mapper.BoardMemberMapper">
	<!-- 전체 회원 조회 쿼리 -->
  <select id="selectAllMember" resultType="member">
  	select * from board_member
  </select>
  
  <!-- 회원 추가 -->
  <insert id="insertMember" parameterType="member">
  	insert into board_member(id,password,username,nickname)
  	values(#{id}, standard_hash(#{password},'SHA512'), #{userName}, #{nickName})
  </insert>
  
  <!--  -->
  <select id="selectNameMember" parameterType="string" resultType="member">
  	select * from board_member where username like '%' || #{value} || '%'
  </select>
  
  <!-- 회원 삭제 쿼리 -->
  <delete id="deleteMember" parameterType="string">
  	delete from board_member where id = #{id}
  </delete>
  
  <!-- 수정 페이지 회원 조회 쿼리 -->
  <select id="selectMember" parameterType="string" resultType="member">
  	select * from board_member where id like #{id}
  </select>
  <!-- 수정 페이지 수정 쿼리 -->
  <update id="updateMember" parameterType="member">
  	update board_member set 
  		password = standard_hash(#{password},'SHA512'),
  		username = #{userName},
  		nickname = #{nickName}
  	where id like #{id}
  </update>
  
</mapper>