<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/board_view.css">
	<script>

		window.onload = () => {
			let commentCount = 6;
			const userId = '[[${session.user != null ? session.user.id : ""}]]'; // 세션의 유저 아이디를 userId에 담아둔다 댓글삭제용
			// 게시물 좋아요 --------------------------------------------------------------------------------
			document.querySelector('#btn_like').onclick = () => {
				//좋아요 링크 클릭 -> 경고창 띄우기
				//alert('좋아요 클릭')
				fetch('/board/like/[[${board.bno}]]')
					.then(response => response.json())
					.then((result) => {
						console.log(result);
						if (result.code == 2) {
							if (confirm(result.msg)) location.href = '/login/view';
						}
						else alert(result.msg);
						//좋아요 개수 갱신
						document.querySelector("#like_count").innerHTML = result.count;
					})
					.catch((error) => {
						console.log(error);
					})
			}

			// 게시물 싫어요 --------------------------------------------------------------------------------
			document.querySelector('#btn_hate').onclick = () => {
				fetch('/board/hate/[[${board.bno}]]')
					.then(response => response.json())
					.then((result) => {
						console.log(result);
						if (result.code == 2) {
							if (confirm(result.msg)) location.href = '/login/view';
						}
						else alert(result.msg);
						document.querySelector("#hate_count").innerHTML = result.count;
					})
					.catch((error) => {
						console.log(error);
					})
			}

			// 댓글 갯수 더보기 ----------------------------------------------------------------------------------------------------

			document.querySelector('#btn_more').onclick = () => {
				fetch(`/board/comment/[[${board.bno}]]?start=${commentCount}`).then(res => res.json())
					.then(result => {
						console.log(result);
						let tag = '';
						result.forEach(item => {
							tag += `<div class="comment">
									<p>
										<input type="hidden" name="cno" value="${item.cno}">
										<span>작성자 : ${item.id}</span>
										<span>작성일 : ${item.cdate}</span>
										<span><a href="#" class="btn_comment_like">좋아요 : <span>${item.clike}</span></a></span>
										<span><a href="#" class="btn_comment_hate">싫어요 : <span>${item.chate}</span></a></span>
										<span>
											${userId == item.id ?
									'<button type="button" class="btn_comment_delete">댓글 삭제</button>' +
									'<button type="button" class="btn_comment_update">댓글 수정</button>' : ''} 
										</span>
									</p>
									<p>${item.content}</p>
								</div>`;
						});
						document.querySelector('.comment_container').innerHTML += tag;
						commentCount += result.length;
					}).catch(error => {
						console.log(error);
					})
				console.log(commentCount);
			}


			// 댓글 삭제,수정 / 좋아요,싫어요 ------------------------------------------------------------------------------------
			document.querySelector('.comment_container').onclick = (e) => {
				e.preventDefault(); // 댓글관련 버튼 이벤트시 페이지 새로 로딩 되어 페이지 위로가는거 막기
				//댓글 좋아요 싫어요 눌렀을때만 반응하게끔 처리
				if (e.target.className == 'btn_comment_like' || e.target.className == 'btn_comment_hate') {
					console.log(e.target);
					console.log(e.target.parentNode.parentNode.querySelector('input[name="cno"]').value);

					let cno = e.target.parentNode.parentNode.querySelector('input[name="cno"]').value;
					commentLikeHateAjax(e.target.className == 'btn_comment_like', cno, e.target);
				}

				//댓글 삭제 버튼 눌렀을때
				if (e.target.className == 'btn_comment_delete') {
					console.log(e.target);
					location.href = `/board/comment/delete/${e.target.parentNode.parentNode.querySelector('input[name="cno"]').value}`;
				}
				//댓글 수정 버튼 눌렀을때 -> 해당 댓글을 수정하는 폼으로 교체
				if (e.target.className == 'btn_comment_update') {
					console.log(e.target);

					// 댓글 내용이 p 태그에 내용으로 존재

					// 1. textarea를 생성 (태그를 객체로 생성), document.createElement('태그명');
					const newElement = document.createElement('textarea'); // 새 태그

					// 2. 기존 p태그에 있는 내용을 1번에서 생성한 textarea에 저장
					const oldElement = e.target.parentNode.parentNode.nextElementSibling; // 기존 태그 / parentNode : 부모 태그
					newElement.value = oldElement.innerHTML;

					// 3. 기존 태그를 1번에서 새로만든 태그로 교체
					// 		교체 : 부모 태그를 선택해서 replaceChild를 이용하면 해당 자식 태그를 교체 가능
					oldElement.parentNode.replaceChild(newElement, oldElement);

					// 4. 취소/수정 버튼을 생성해서 부모태그의 appendChild를 이용해서 자식 요소로 추가
					const btnCancel = document.createElement('button');
					btnCancel.type = 'button';
					btnCancel.innerHTML = '취소';
					const btnUpdate = document.createElement('button');
					btnUpdate.type = 'button';
					btnUpdate.innerHTML = '수정';
					newElement.parentNode.appendChild(btnCancel);
					newElement.parentNode.appendChild(btnUpdate);
					// 5. 취소/수정 버튼의 이벤트 처리
					// 취소
					btnCancel.onclick = () => {
						newElement.parentNode.replaceChild(oldElement, newElement);
						btnCancel.remove();
						btnUpdate.remove();
					}
					// 수정
					btnUpdate.onclick = () => {
						const cno = e.target.parentNode.parentNode.querySelector('input[name="cno"]').value;
						const content = newElement.value;

						fetch('/board/comment', {
							method: 'PATCH',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({ cno, content })
						}).then(response => response.json())
							.then(result => {
								console.log(result);
								//수정 완료 후 태그 교체
								if (result.code == 1) {
									oldElement.innerHTML = newElement.value;
									newElement.parentNode.replaceChild(oldElement, newElement);
									btnCancel.remove();
									btnUpdate.remove();
								} else {
									alert(result.msg);
									location.href = '/login/view';
								}
							}).catch(error => {
								console.log(error);
							})
					}
				}
			}

			// 페이지 위로 올리기 스크롤 이벤트 핸들러------------------------------------------------------------------
			const scrollTopButton = document.querySelector('#btn_scroll_top'); // 버튼 선택
			window.onscroll = () => {
				// 페이지 스크롤 위치가 100px 이상이면 버튼 표시
				if (window.scrollY > 500) {
					scrollTopButton.style.display = 'block';
				} else {
					scrollTopButton.style.display = 'none';
				}
			};

			// 버튼 클릭 시 상단으로 부드럽게 스크롤
			scrollTopButton.onclick = () => {
				window.scrollTo({
					top: 0, // 화면 상단 위치
					behavior: 'smooth' // 부드럽게 스크롤
				});
			};

		}
		function commentLikeHateAjax(mode, cno, target) {
			let url = `/board/comment/${mode ? "like" : "hate"}/${cno}`;
			console.log(url);
			//ajax 호출
			fetch(url).then(response => response.json())
				.then(result => {
					console.log(result);
					if (result.code == 2) {
						alert(result.msg);
						location.href = '/login/view';
					}
					target.querySelector('span').innerHTML = result.count;
				}).catch(error => {
					console.log(error);
				});
		}

	</script>

</head>

<body>
	<th:block th:insert="~{/fragments/header.html}"></th:block> <!-- 공통 헤더 포함 -->
	<div id="container" class="container">
		<h2 style="text-align: center; color: #007BFF; font-weight: bold;">글조회 페이지</h2>
		<table class="board-view-table">
			<tr>
				<th>글번호</th>
				<td>[[${board.bno}]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td th:text="${board.title}"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[${board.nickName}]]</td>
			</tr>
			<tr>
				<th>조회수</th>
				<td>[[${board.bcount}]]</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: justify;">
					<div th:utext="${board.content}"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<a href="#" id="btn_like">좋아요 : <span id="like_count">[[${board.blike}]]</span></a>
					<a href="#" id="btn_hate">싫어요 : <span id="hate_count">[[${board.bhate}]]</span></a>
				</td>
			</tr>
			<!-- 해당 게시글 작성자에게만 수정, 삭제 버튼 나오기 처리 -->
			<tr th:if="${session.user != null && session.user.id == board.id}">
				<td colspan="2">
					<button id="btn_update">수정</button>
					<button id="btn_delete">삭제</button>
					<script>
						document.querySelector("#btn_update").onclick = () => {
							location.href = '/board/update/view?bno=[[${board.bno}]]';
						}
						document.querySelector("#btn_delete").onclick = () => {
							location.href = '/board/delete/[[${board.bno}]]';
						}
					</script>
				</td>
			</tr>
			<tr>
				<!-- 
				   첨부파일 목록을 출력
					다운로드 경로 : /board/download/파일번호
			   -->
				<td colspan="2">
					<p th:each="file : ${fileList }">
						<a th:href="@{/board/download/{fno}(fno=${file.fno})}">[[${file.fileName}]]</a>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<!-- 댓글 입력 폼 -->
					<div class="comment_form" th:if="${session.user != null }">
						<form action="/board/comment" method="post">
							<input type="hidden" name="bno" th:value="${board.bno }">
							<textarea name="content" placeholder="댓글을 입력하세요"></textarea>
							<button>댓글작성</button>
						</form>
					</div>
					<div class="comment_form" th:if="${session.user == null }">
						<p><a href="/login/view">로그인 후 작성가능</a></p>
					</div>
				</td>
			</tr>
		</table>
		<hr>
		<!-- 
		댓글 내용을 출력, 댓글 번호(hidden), 작성일, 좋아요, 싫어요, 작성자, 댓글 내용 
		댓글 삭제 버튼 -> 작성자와 로그인한 사람이 일치할때
		
		작성자, 작성일, 좋아요, 싫어요
		댓글 내용
		삭제버튼
	 -->
		<!-- 댓글 리스트 5개씩 출력 -->
		<div class="comment_container">
			<div class="comment" th:each="comment : ${commentList }">
				<p>
					<input type="hidden" name="cno" th:value="${comment.cno }" />
					<span>작성자 : [[${comment.id }]]</span>
					<span>작성일 : [[${comment.cdate }]]</span>
					<span>
						<a href="#" class="btn_comment_like">좋아요 : <span>[[${comment.clike }]]</span></a>
						<a href="#" class="btn_comment_hate">싫어요 : <span>[[${comment.chate}]]</span></a>
					</span>
					<span th:if="${session.user != null && session.user.id == comment.id}">
						<button type="button" class="btn_comment_delete">댓글 삭제</button>
						<button type="button" class="btn_comment_update">댓글 수정</button>
					</span>
				</p>
				<p>[[${comment.content }]]</p>
			</div>
		</div>
		<button type="button" id="btn_more">댓글 더보기</button>
	</div>
	<button id="btn_scroll_top">
		▲
	</button>
</body>

</html>