<link rel="stylesheet" href="/css/header.css">
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li th:if="${session.user == null}"><a href="/">회원가입</a></li>
    <li th:if="${session.user == null}"><a href="/login/view">로그인</a></li>
    <!-- 관리자 메뉴에 클래스를 추가 -->
    <li th:if="${session.user != null && session.user.grade == 5}">
      <a href="/member/main" class="admin-menu">회원관리</a>
    </li>
    <li th:if="${session.user != null && session.user.grade == 5}">
      <a href="/grade/main" class="admin-menu">회원 등급관리</a>
    </li>
    <li th:if="${session.user != null}"><a href="/board/write/view">글쓰기</a></li>
    <!-- 로그인을 한 상태면 로그아웃, 회원명 님 로그인 -->
    <li th:if="${session.user != null}"><a href="/">[[${session.user.userName}]]</a>님 로그인</li>
    <li th:if="${session.user != null}"><a href="/logout">로그아웃</a></li>
  </ul>
</nav>

