h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    height: 40px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

.search_box {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 0px 5px;
}

hr {
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}